[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
black = "==21.7b0"
dynaconf = "==3.1.2"
dj-database-url = "*"
psycopg2 = "*"
requests = "*"
django-filter = "*"
pillow = "*"
djoser = "*"
ipython = "*"
celery = "*"
redis = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.9"
