[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
black = "==21.7b0"
dynaconf = "==3.1.2"
dj-database-url = "*"
psycopg2 = "*"
ipython = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
